<nav class="bg-white h-16 flex-row flex items-center justify-between w-full border-b px-3 sticky top-0 z-50">
    <a href="/" class="h-full contents">
        <img src="/img/valet.logo.png" class="h-full py-3" alt="valet.">
    </a>

    <% if(variant == "history"){ %> <a href="/history" class="bg-[#fc0] hover:bg-[#fc0]/80 text-black py-2 px-4 rounded-lg w-fit">Mes reservations</a> <% } %>

    <% if(variant == "new"){ %> <a href="/new" class="bg-[#fc0] hover:bg-[#fc0]/80 text-black py-2 px-4 rounded-lg w-fit">+ Reserver</a> <% } %>
</nav>