<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('partials/head'); %>
</head>
<body class="flex flex-col gap-2 items-center justify-start flex-1 h-full overflow-y-auto">
    <%- include('pages/'+page); %>

    <script src="/scripts/valet.js"></script>
</body>
</html>
