<div class="flex flex-col gap-2 items-center justify-between flex-1 h-full py-16">
    <img src="/img/valet.logo.png" class="w-3/4 max-w-[300px]" alt="valet.">

    <div class="flex flex-col gap-2 items-center justify-center">
        <a href="/new" class="bg-[#fc0] hover:bg-[#fc0]/80 text-black py-3 px-8 text-2xl rounded-full w-fit">Réserver ma place</a>
        <a href="/history" class="bg-[#000]/40 hover:bg-[#000]/60 text-white py-3 px-8 text-sm rounded-full w-fit">Voir mes précédentes réservations</a>
    </div>
</div>

<script src="/scripts/homeSlideShow.js"></script>